@media (max-width: 740px)
{
  .mobile-flex-reverse {
    flex-direction: column-reverse !important;
  }

  .header,
  .content .content__section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    padding-top: 17px;
  }

  .nav__menu {
    display: none;
  }

  .nav__logo {
    font-size: 30px;
  }

  .nav__icon {
    width: 45px;
    height: 31px;
  }

  .nav__menu-btn {
    background: url(../img/icons/ic_menu.svg) top center / contain no-repeat;
    float: right;
    width: 45px;
    height: 45px;
    display: block;
  }

  .nav__menu-btn:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .header__intro {
    margin-top: 32px;
    padding-bottom: 0px;
    flex-flow: column-reverse;
  }

  .intro__title {
    font-size: 28px;
  }

  .intro__img {
    text-align: start;
    margin-bottom: 32px;
  }
  
  .intro__img > img {
    width: 100%;
  }

  .content .team__member {
    margin-bottom: 38px;
  }

  .content .section__heading,
  .content .container__part-heading {
    font-size: 24px;
  }

  .content .container__part {
    flex-flow: column;
  }

  .content .container__part {
    margin-top: 32px;
  }

  .content .container__part-img {
    flex: 1;
    max-width: 100%;
    margin-bottom: 32px;
  }

  .content .content__section {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .content .section__container {
    margin-top: 32px;
  }

  .content .container__partners-logo > img:first-child {
    margin-top: 0px;
  }

  .content .container__partners-logo > img:last-child {
    margin-bottom: 0px;
  }

  .content .container__teams {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 16px 0px;
  }

  .footer .footer__container {
    flex-flow: column;
    align-items: center;
    padding: 32px 32px;
  }

  .footer .footer__socials {
    margin-bottom: 16px;
  }

}

/* IPAD */
@media (min-width: 740px) and (max-width: 1024px) {
  .header,
  .content .content__section {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header__intro {
    padding-bottom: 0px;
    flex-flow: column-reverse;
  }

  .intro__img {
    margin-bottom: 32px;
  }
  
  .intro__img > img {
    width: 100%;
  }

}